@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --color-black : #0E0E0E;
    --color-grey : #141414;
    --color-red-blood: #8D2820;
    --color-red-orange: #AD3A30;
    --color-orange: #F1740D;
  }


 body{  
   margin: 0;
	padding: 0;
	border: 0;
   background-image: url(../images/background.webp);
   background-repeat: no-repeat;
   background-size: cover;

   box-sizing: border-box;
 }

 header{
    background-color: var(--color-red-blood)  ;
    width: 100%;
    display: flex;
    
}
.menu{
    background-color: var(--color-orange);
    display: flex;
    width: 100%;
   }

.logo{
   width: 50%;
}

nav a{
   text-decoration: none;
   color: var(--color-red-blood) ;
}

ol {
	list-style: none;
   display:flex ;
   align-items: center;
}

li{
   padding: 0 2em 0 0;
}

 h1{
   margin:;
    color: white;
 }

.content{
   background-color: var(--color-black) ;
}


 h2{
    color: white;
 }

 p{
    color: white;
 }

 footer{
    background-color: var(--color-grey);
 }